main {
  height: 100vh;
  background: $light-blue;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  section {
    @include flexCenter();

    height: 100vh;
    scroll-snap-align: start;

    &#games,
    &#industrial,
    &#social {
      background: $dark-pink;
    }
  }
}
