main {
  height: 100vh;
  margin-left: 12.5%;
  background: $light-blue;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  section {
    @include flexCenter();

    height: 100vh;
    scroll-snap-align: start;
  }
}
