@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/gotham/Gotham-Light.otf");
  src: url("../fonts/gotham/Gotham-Light.otf") format("woff2");
  src: url("../fonts/gotham/Gotham-Light.otf") format("woff");
  src: url("../fonts/gotham/Gotham-Light.otf") format("truetype");
  src: url("../fonts/gotham/Gotham-Light.otf") format("svg");
}

@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/gotham/Gotham-Black.otf");
  src: url("../fonts/gotham/Gotham-Black.otf") format("woff2");
  src: url("../fonts/gotham/Gotham-Black.otf") format("woff");
  src: url("../fonts/gotham/Gotham-Black.otf") format("truetype");
  src: url("../fonts/gotham/Gotham-Black.otf") format("svg");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/gotham/Gotham-Bold.otf");
  src: url("../fonts/gotham/Gotham-Bold.otf") format("woff2");
  src: url("../fonts/gotham/Gotham-Bold.otf") format("woff");
  src: url("../fonts/gotham/Gotham-Bold.otf") format("truetype");
  src: url("../fonts/gotham/Gotham-Bold.otf") format("svg");
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/proxima-nova/ProximaNova-Regular.otf");
  src: url("../fonts/proxima-nova/ProximaNova-Regular.otf") format("woff");
  src: url("../fonts/proxima-nova/ProximaNova-Regular.otf") format("woff2");
  src: url("../fonts/proxima-nova/ProximaNova-Regular.otf") format("truetype");
  src: url("../fonts/proxima-nova/ProximaNova-Regular.otf") format("svg");
}

@font-face {
  font-family: "Proxima-Nova-Thin";
  src: url("../fonts/proxima-nova/Proxima Nova Thin.otf");
  src: url("../fonts/proxima-nova/Proxima Nova Thin.otf") format("woff");
  src: url("../fonts/proxima-nova/Proxima Nova Thin.otf") format("woff2");
  src: url("../fonts/proxima-nova/Proxima Nova Thin.otf") format("truetype");
  src: url("../fonts/proxima-nova/Proxima Nova Thin.otf") format("svg");
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/proxima-nova/Proxima Nova Bold.otf");
  src: url("../fonts/proxima-nova/Proxima Nova Bold.otf") format("woff");
  src: url("../fonts/proxima-nova/Proxima Nova Bold.otf") format("woff2");
  src: url("../fonts/proxima-nova/Proxima Nova Bold.otf") format("truetype");
  src: url("../fonts/proxima-nova/Proxima Nova Bold.otf") format("svg");
}

@font-face {
  font-family: "Proxima-Nova-Black";
  src: url("../fonts/proxima-nova/Proxima Nova Black.otf");
  src: url("../fonts/proxima-nova/Proxima Nova Black.otf") format("woff");
  src: url("../fonts/proxima-nova/Proxima Nova Black.otf") format("woff2");
  src: url("../fonts/proxima-nova/Proxima Nova Black.otf") format("truetype");
  src: url("../fonts/proxima-nova/Proxima Nova Black.otf") format("svg");
}
