@font-face {
  font-family: "Gotham-Light";
  src: url("../fonts/gotham/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/gotham/Gotham-Black.otf");
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../fonts/gotham/Gotham-Bold.otf");
}

@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/proxima-nova/Proxima Nova Regular.otf");
}

@font-face {
  font-family: "Proxima-Nova-Thin";
  src: url("../fonts/proxima-nova/Proxima Nova Thin.otf");
}

@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("../fonts/proxima-nova/Proxima Nova Bold.otf");
}

@font-face {
  font-family: "Proxima-Nova-Black";
  src: url("../fonts/proxima-nova/Proxima Nova Black.otf");
}
