html {
  font-family: sofia-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 8px;
  background: $light-blue;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    display: none;
  }
}
